<%= form_for(@user) do |f| %>

<div class="form-group">    
    <%= f.label "Name: " %>
    <%= f.text_field :name, class: 'form-control' %>
</div>    

<div class="form-group">    
    <%= f.label "Email: " %>
    <%= f.text_field :email, class: 'form-control' %>
</div>

<div class="form-group">    
    <%= f.label "Password: " %>
    <%= f.text_field :password, class: 'form-control' %>
</div>

<div class="form-group">    
    <%= f.label "Confirm Password: " %>
    <%= f.text_field :password_confirmation, class:'form-control' %>
</div>

    <% if params[:action] == 'edit' %>
        <% #next time, put xxx_attributes in order to allow successfully saving child associations %>
        <%= f.fields_for :profile_attributes, @user.profile do |p| %>
        <div class="form-group">    
            <%= p.label "Birthdate: " %>
            <%= p.text_field :birthdate, class:'form-control' %>
        </div>    
        
        <div class="form-group">    
            <%= p.label "Location: " %>
            <%= p.text_field :location, class:'form-control' %>
        </div>    
        <% end %>

        <%= f.submit 'Submit!', class:'btn btn-info' %>
        
    <% else %>
    
        <div class="form-group">  
            <%= f.submit 'Sign Me Up NOW!', class:'btn btn-info' %>
        </div>    
    <% end %>
<% end %>