<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigationHeader' %>

<div class="container">
  <%= render 'layouts/flashMessages' %>
  <%= yield %>
</div>

<div class="container">
  <div  class="row">
    <div class="col-xs-12">
      <p><center>Copyright (C) B. Theseira 2014. What Is Your Timezone?</center></p>
    </div>
  </div>
</div>

</body>
</html>
